@import "./cell.css";
@import "./piece.css";
@import "./context-menu.css";
@import "./text.css";
@import "./history.css";

* {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

label {
    text-wrap: nowrap;
    text-overflow: clip;
    touch-action: none;
    pointer-events: none;
}

img {
    touch-action: none;
    pointer-events: none;
}

.board {
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    margin: 0.5vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#heroBoard {
    aspect-ratio: 1;
    border-radius: 2%;
    background-image: url('https://lyc-sgs.oss-accelerate.aliyuncs.com/zq/Map/野战.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}

.factionBoard {
    aspect-ratio: 0.5;
    border-radius: 2vmin;
}

@keyframes twinkle {
    50% {
        opacity: 0.5;
        box-shadow: 0 0 0.2em 0.2em rgb(0, 0, 0, 0.15);
    }
}

#redBoard {
    background-color: rgb(255, 0, 0, 0.3);
    animation: twinkle 1.5s infinite ease-in-out;
}

#blueBoard {
    background-color: rgb(0, 0, 255, 0.3);
    animation: twinkle 1.5s infinite ease-in-out;
}

.candidate {
    aspect-ratio: 1;
    border-radius: 7.5%;
    background-color: rgb(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 0.2em 0.2em rgb(0, 0, 0, 0.15);
}

.candidate.waiting-red {
    /* border: 3px solid rgb(255, 0, 0, 0.5); */
    box-shadow: 0 0 0.2em 0.2em rgb(255, 0, 0, 0.3);
}

.candidate.waiting-blue {
    /* border: 3px solid rgb(0, 0, 255, 0.5); */
    box-shadow: 0 0 0.2em 0.2em rgb(0, 0, 255, 0.3);
}

.candidate>.vacancy-number {
    position: absolute;
    font-family: fantasy;
    font-weight: bold;
    text-wrap: nowrap;
    color: rgb(0, 0, 0, 0.10);
    transition: all 0.3s ease-in-out;
}

.candidate:has(.cell:empty)>.vacancy-number {
    text-align: center;
    line-height: 100%;
}

.candidate:has(.cell:not(:empty))>.vacancy-number {
    text-align: right;
    margin-left: 100%;
    transform: translate(-60%, -95%);
}

.candidate.waiting-red>.vacancy-number {
    color: rgb(255, 0, 0, 0.20);
}

.candidate.waiting-blue>.vacancy-number {
    color: rgb(0, 0, 255, 0.20);
}

#first-move-tooltip {
    font-family: "fzlb";
    font-weight: bold;
    font-size: 1.8em;
    text-align: center;
    text-wrap: nowrap;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 98;
    visibility: visible;
    opacity: 1;
}

@media screen and (orientation:landscape) {
    #heroBoard {
        width: 48%;
    }

    .factionBoard {
        width: 24%;
    }

    .candidate {
        width: 18vh;
    }

    .candidate:has(.cell:empty)>.vacancy-number {
        font-size: 15vh;
    }

    .candidate:has(.cell:not(:empty))>.vacancy-number {
        font-size: 5vh;
    }

    #redBoard {
        order: -1;
    }

    #blueBoard {
        order: 1;
    }

    .hero-name {
        font-size: 3vh;
    }

    #first-move-tooltip {
        top: 49vw;
    }
}

@media screen and (orientation:portrait) {
    #heroBoard {
        width: 100%;
    }

    .factionBoard {
        width: 48%;
    }

    .candidate {
        width: 20vw;
    }

    .candidate:has(.cell:empty)>.vacancy-number {
        font-size: 18vw;
    }

    .candidate:has(.cell:not(:empty))>.vacancy-number {
        font-size: 6vw;
    }

    #redBoard {
        order: 1;
    }

    #blueBoard {
        order: 2;
    }

    .hero-name {
        font-size: 3.6vw;
    }

    #first-move-tooltip {
        top: 98vw;
    }
}