@import "./text.css";

 .hand-zone {
    z-index: 199;
    display: none;
    justify-content: center;
    position: fixed;
    width: var(--hand-zone-width);
    height: var(--hand-zone-height);
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    -webkit-backdrop-filter: blur(0.1em);
            backdrop-filter: blur(0.1em);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);

}

.card {
    z-index: 200;
    height: var(--card-height);
    font-size: var(--font-size);
    aspect-ratio: 2/3;
    position: absolute;
    border: 4px solid black;
    background-color: antiquewhite;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all 100ms ease-in-out;
}

.card-info {
    position: absolute;
    top: 0;
    left: 2%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-number {
    text-align: center;
    font-family: 'fzlb';
}

.card-suit {
    font-size: var(--font-size);
    transform: translateY(-20%);
    text-align: center;
}

.card-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2%;
    right: 2%;
    width: 76%;
    height: 30%;
    font-family: 'fzlb';
}

.prefix {
    width: 20%;
    text-align: center;
    font-size: 0.8em;
}

.left-bracket {
    width: 20%;
    transform: translateX(-70%);
    text-align: center;
    font-size: 1.5em;
}

.card-name-text {
    width: 60%;
    text-align: center;
}

.right-bracket {
    width: 20%;
    transform: translateX(-70%);
    text-align: center;
    font-size: 1.5em;
}

@media screen and (orientation:landscape) {
    .hand-zone {
        --hand-zone-width: 93vmin;
        --hand-zone-height: 18vw;
    }

    .card {
        --card-height: 15vw;
        --font-size: calc(var(--card-height) * 0.16);
    }
}

@media screen and (orientation:portrait) {
    .hand-zone {
        --hand-zone-width: 100vw;
        --hand-zone-height: 20vh;
    }

    .card {
        --card-height: 20vh;
        --font-size: calc(var(--card-height) * 0.16);
    }
}