@import "./text.css";

 .hand {
    display: block;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    background-color: aliceblue;
}

.card {
    aspect-ratio: 2/3;
    position: absolute;
    border: 4px solid black;
    background-color: antiquewhite;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all 100ms ease-in-out;
}

.card-info {
    position: absolute;
    top: 0;
    left: 2%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-number {
    text-align: center;
    font-family: 'fzlb';
}

.card-color {
    transform: translateY(-20%);
    text-align: center;
}

.card-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2%;
    right: 2%;
    width: 76%;
    height: 30%;
    font-family: 'fzlb';
}

.prefix {
    width: 20%;
    text-align: center;
    font-size: 0.8em;
}

.left-bracket {
    width: 20%;
    transform: translateX(-70%);
    text-align: center;
    font-size: 1.5em;
}

.card-name-text {
    width: 60%;
    text-align: center;
}

.right-bracket {
    width: 20%;
    transform: translateX(-70%);
    text-align: center;
    font-size: 1.5em;
}

@media screen and (orientation:landscape) {
    .hand {
        width: 70vw;
        height: 30vh;
    }

    .card {
        height: 15vw;
        font-size: 2.4vw;
    }

    .card-color {
        font-size: 2.4vw;
    }
}

@media screen and (orientation:portrait) {
    .hand {
        width: 100vw;
        height: 30vh;
    }

    .card {
        height: 20vh;
        font-size: 6.4vw;
    }

    .card-color {
        font-size: 6.4vw;
    }
}