.grave {
    width: 13vmin;
    aspect-ratio: 1;
    /* border: .1vmin solid purple; */
    border: 0;
    display: none;
    box-sizing: border-box;
    position: relative;
}

.cell {
    width: 13vmin;
    height: 13vmin;
    box-sizing: border-box;
    position: relative;
}

.plain {
    border: .15vmin solid gray;
}

.ridge {
    border: .3vmin outset rgba(255, 255, 255, 0.8);
}