.grave {
    height: 6.1em;
    aspect-ratio: 1;
    margin: 0.2em 0.2em 0.2em 0.2em;
    /* border: .1vmin solid purple; */
    border: 0;
    display: none;
    box-sizing: border-box;
    position: relative;
}

.cell {
    width: 13vmin;
    height: 13vmin;
    box-sizing: border-box;
    position: relative;
}

.plain {
    border: .15vmin solid gray;
}

.ridge {
    border: .3vmin outset rgba(255, 255, 255, 0.8);
}

.base {
    border: .2vmin solid gray;
}

.barrack {
    border: .2vmin solid gray;
}

:root {
    --color: 0, 0, 0;
    --transparency: 0.3;
}

@keyframes occupy {
    0% {
        border-color: rgba(var(--color), calc(var(--transparency) * 2));
        border-radius: 50%;
    }

    100% {
        border-color: rgba(var(--color), var(--transparency));
        border-radius: 0;
    }
}

@keyframes twikle {
    50% {
        border-color: rgba(var(--color), calc(var(--transparency) * 2));
    }
}

.cell.occupied {
    border: .6vmin solid rgba(var(--color), var(--transparency));
    animation: 0.75s ease-out 1 occupy, 1.5s ease-in-out 0.75s infinite twikle;
}

.cell.Red {
    --color: 255, 0, 0;
    border-color: rgba(var(--color), var(--transparency));
}

.cell.Blue {
    --color: 0, 0, 255;
    border-color: rgba(var(--color), var(--transparency));
}