.flag {
    position: absolute;
    z-index: 99;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.piece>.flag {
    width: 65%;
    height: 65%;
    left: -15%;
    top: -8%;
    opacity: 0.75;
}

.cell>.flag {
    opacity: 1;
}

.cell>.flag:first-of-type:last-of-type {
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cell>.flag:nth-of-type(1):nth-last-of-type(2) {
    width: 60%;
    height: 60%;
    left: -5%;
    top: 35%;
}

.cell>.flag:nth-of-type(2):nth-last-of-type(1) {
    width: 60%;
    height: 60%;
    left: 45%;
    top: 5%;
}