.attackable {
    background-color: rgba(255, 36, 0, 0.1);
}

.reachable {
    background-color: rgba(255, 255, 0, 0.2);
}

.reachable:hover {
    background-color: rgba(255, 255, 0, 0.4);
}

.landable {
    background-color: rgba(20, 200, 43, 0.3);
}

.landable:hover {
    background-color: rgba(20, 200, 43, 0.6);
}

.cell.targetable {
    background-color: rgb(255, 100, 0, 0.15);
}

.cell.targetable:hover {
    background-color: rgb(255, 100, 0, 0.3);
}

.piece.targetable {
    box-shadow: 0 0 0.4em 0.4em rgb(20, 200, 43, 0.5);
}

.piece.targetable:hover {
    border-color: rgb(20, 200, 43);
    box-shadow: 0 0 0.4em 0.4em rgb(20, 200, 43, 0.5);
}

.piece.attackable {
    box-shadow: 0 0 0.4em 0.4em rgb(255, 36, 0, 0.5);
}

.piece.attackable:hover {
    border-color: rgb(255, 36, 0);
    box-shadow: 0 0 0.4em 0.4em rgb(255, 36, 0, 0.5);
}