label {
    text-wrap: nowrap;
    text-overflow: clip;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.menuList {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
}

.menu {
    border: 4px solid gray;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 8px 8px 8px 8px;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    border-radius: 8px;
    z-index: 70;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-around;
}

.fixedPanel,
.alivePanel {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-between;
}

.fixedPanel {
    height: 30%;
}

.alivePanel {
    height: 65%;
}

.selectBlock,
.HPBlock {
    display: flex;
    justify-content: center;
}

.checkBlock {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
}

#redMenuList>.menu {
    border-color: rgba(255, 0, 0, 0.35);
}

#blueMenuList>.menu {
    border-color: rgba(0, 0, 255, 0.35);
}

input[type="checkbox"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    margin: 0;
    height: 85%;
    aspect-ratio: 1;
    border: clamp(0.4px, 0.4vmin, 4px) solid rgba(0, 0, 0, 0.35);
    border-radius: clamp(0.6px, 0.6vmin, 6px);
    transform: translateY(10%);
    display: inline-flex;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    height: 90%;
    aspect-ratio: 1;
    transform: scale(0) translateY(5%);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 2em 1em rgba(0, 0, 0, 0.35);
}

input[type="checkbox"]:checked::before {
    border-radius: clamp(0.3px, 0.3vmin, 3px);
    transform: scale(1) translateY(5%);
}

input[name="redCheckbox"] {
    border-color: rgba(255, 0, 0, 0.35);
}

input[name="blueCheckbox"] {
    border-color: rgba(0, 0, 255, 0.35);
}

input[name="redCheckbox"]::before {
    border-color: rgba(255, 0, 0, 0.35);
    box-shadow: inset 1.5em 1.5em rgba(255, 0, 0, 0.60);
}

input[name="blueCheckbox"]::before {
    border-color: rgba(0, 0, 255, 0.35);
    box-shadow: inset 1.5em 1.5em rgba(0, 0, 255, 0.60);
}

.numberButton {
    border-radius: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0 0 0 0;
    text-align: center;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border: 1px outset gray;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.number {
    margin-left: 0.24em;
    margin-right: 0.24em;
}

.heroSelect {
    width: 65%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@media screen and (orientation:landscape) {
    .menuList {
        width: clamp(160px, (100vw - 93vmin) / 2, 35vmin);
        height: 100svh;
    }

    #redMenuList {
        right: calc(50vw + 46.5vmin);
    }

    #blueMenuList {
        left: calc(50vw + 46.5vmin);
    }

    .menu {
        width: 80%;
        height: 26%;
    }

    .menu>div {
        font-size: clamp(0.8em, 2.5vh, 1.6em);
    }

    .heroSelect {
        font-size: clamp(0.8em, 2.5vh, 1.6em);
    }

    .heroSelect>option {
        font-size: clamp(0.8em, 2.5vh, 1.6em);
    }

    .numberButton {
        width: clamp(12px, 3vh, 24px);
        height: clamp(12px, 3vh, 24px);
        line-height: clamp(12px, 3vh, 24px);
        font-size: clamp(12px, 4vh, 30px);
        transform: translateY(16%)
    }
}

@media screen and (orientation:portrait) {
    .menuList {
        width: 45vmin;
        height: 60svh;
        top: 95vmin;
    }

    #redMenuList {
        left: 0;
    }

    #blueMenuList {
        right: 0;
    }

    .menu {
        width: 65%;
        height: 25%;
    }

    .menu>div {
        font-size: clamp(12px, 3.0vw, 20px);
    }

    .heroSelect {
        font-size: clamp(12px, 3.0vw, 20px);
    }

    .heroSelect>option {
        font-size: clamp(12px, 3.0vw, 20px);
    }

    .numberButton {
        width: clamp(12px, 3.0vw, 20px);
        height: clamp(12px, 3.0vw, 20px);
        line-height: clamp(12px, 3.0vw, 20px);
        font-size: clamp(12px, 3.0vh, 20px);
        /* transform: translate(0, 16%); */
    }
}