@import "./cell.css";
@import "./piece.css";
@import "./flag.css";
/* @import "./function.css"; */
@import "./highlight.css";
@import "./menu.css";
@import "./text.css";
@import "./context-menu.css";
@import "./history.css";

* {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

html,
body {
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
}

body {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

label {
    text-wrap: nowrap;
    text-overflow: clip;
    touch-action: none;
    pointer-events: none;
}

img {
    touch-action: none;
    pointer-events: none;
}

#mainboard {
    aspect-ratio: 1;

    border-radius: 2%;
    border: 1vmin outset gray;

    background-image: url('../assets/Map/野战.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}

#chessboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 0;
    justify-content: space-between;
    align-content: space-between;
    z-index: 90;
    margin-bottom: -100%;
}

#canvas {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 81;
    pointer-events: none;
}

@media screen and (orientation:landscape) {
    body {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    #mainboard {
        width: 91vmin;
        height: 91vmin;
        /* width: 56cqw;
        height: 56cqw; */
    }
}

@media screen and (orientation:portrait) {
    body {
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #mainboard {
        width: 91vmin;
        height: 91vmin;
    }
}