@import "./font-awesome.css";
@import "./font-awesome-v5.css";

@font-face {
    font-family: 'fzlb';
    src: url("https://lyc-sgs.oss-accelerate.aliyuncs.com/fonts/方正隶变_GBK.woff2") format("woff2");
    /* , url("https://lyc-sgs.oss-accelerate.aliyuncs.com/fonts/方正隶变_GBK.ttf") format("truetype")；*/
}

/* @font-face {
    font-family: 'fzls';
    src: url("https://lyc-sgs.oss-accelerate.aliyuncs.com/fonts/方正隶书_GBK.woff2") format("woff2") , url("https://lyc-sgs.oss-accelerate.aliyuncs.com/fonts/方正隶书_GBK.ttf") format("truetype")；
} */

@font-face {
    font-family: 'fzzyjt';
    src: url("https://lyc-sgs.oss-accelerate.aliyuncs.com/fonts/方正准圆简体.woff2") format("woff2");
    /* , url("https://lyc-sgs.oss-accelerate.aliyuncs.com/fonts/方正准圆简体.ttf") format("truetype")；*/
}

/* @font-face {
    font-family: 'hyzyj';
    src: url("https://lyc-sgs.oss-accelerate.aliyuncs.com/fonts/汉仪中圆简.woff2") format("woff2") , url("https://lyc-sgs.oss-accelerate.aliyuncs.com/fonts/汉仪中圆简.ttf") format("truetype")；
} */

.skill-name {
    font-family: 'fzlb';
    font-size: 1.6em;
    white-space: nowrap;
}

.skill-text {
    font-family: 'fzzyjt';
    line-height: 1.5em;
    text-align: justify;
}

.skill-label {
    font-weight: bold;
}

.skill-range {
    text-decoration: underline;
}

.skill-term {
    font-weight: bold;
}

.skill-ref {
    font-weight: bold;
}

.skill-side {
    color: rgb(100, 100, 100);
    font-weight: italic;
}

.skill-suit {
    font-weight: bold;
}

.spade, .club {
    color: rgb(0, 0, 0);
}

.heart, .diamond {
    color: rgb(255, 0, 0);
}

.skill-color-black {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.skill-color-red {
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.wei-front {
    color: rgb(52, 70, 214);
}

.shu-front {
    color: rgb(195, 10, 35);
}

.wu-front {
    color: rgb(80, 150, 0);
}

.qun-front {
    color: rgb(90, 90, 76);
}

.wei-back {
    background-color: rgb(52, 70, 214, 0.1);
}

.shu-back {
    background-color: rgb(195, 10, 35, 0.1);
}

.wu-back {
    background-color: rgb(80, 150, 0, 0.1);
}

.qun-back {
    background-color: rgb(90, 90, 76, 0.1);
}

.hero-name {
    font-family: 'fzlb';
    white-space: nowrap;
}