@import "./css/cell.css";
@import "./css/piece.css";
@import "./css/flag.css";
/* @import "./css/function.css"; */
@import "./css/highlight.css";
@import "./css/menu.css";

#chessboard {
    width: 91vmin;
    height: 91vmin;
    border: 1vmin outset gray;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    z-index: 90;
}

#background {
    width: 91vmin;
    height: 91vmin;
    position: absolute;
    margin-top: 1vmin;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    background-image: url('./assets/Map/野战.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    z-index: 80;
}

#canvas {
    width: 91vmin;
    height: 91vmin;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vmin;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: 81;
    pointer-events: none;
}

@media screen and (orientation:portrait) {
    #chessboard {
        top: 1vmin;
    }

    #background {
        top: 1vmin;
    }

    #canvas {
        top: 1vmin;
    }
}