/* body {
    overflow: hidden;
    min-height: 100dvh;
} */

label {
    text-wrap: nowrap;
    text-overflow: clip;
    user-select: none;
}

#chessboard {
    width: 91dvmin;
    height: 91dvmin;
    border: 1dvmin outset gray;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    z-index: 90;
}

#background {
    width: 91dvmin;
    height: 91dvmin;
    position: absolute;
    margin-top: 1dvmin;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    background-image: url('./assets/Map/野战.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    z-index: 80;
}

#canvas {
    width: 91dvmin;
    height: 91dvmin;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1dvmin;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: 81;
    pointer-events: none;
    /* background-color: white; */
}

.menuList {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
}

.menu {
    border: 4px solid gray;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 8px 8px 8px 8px;
    margin-top: 1dvmin;
    margin-bottom: 1dvmin;
    border-radius: 8px;
    z-index: 70;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-around;
}

.fixedPanel, .alivePanel {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-between;
}

.fixedPanel {
    height: 30%;
}

.alivePanel {
    height: 65%;
}

.selectBlock,
.HPBlock {
    display: flex;
    justify-content: center;
}

.checkBlock {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
}

#redMenuList>.menu {
    border-color: rgba(255, 0, 0, 0.35);
}

#blueMenuList>.menu {
    border-color: rgba(0, 0, 255, 0.35);
}

input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    height: 85%;
    aspect-ratio: 1;
    border: clamp(0.4px, 0.4dvmin, 4px) solid rgba(0, 0, 0, 0.35);
    border-radius: clamp(0.6px, 0.6dvmin, 6px);
    transform: translateY(10%);
    display: inline-flex;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    height: 90%;
    aspect-ratio: 1;
    transform: scale(0) translateY(5%);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 2em 1em rgba(0, 0, 0, 0.35);
}

input[type="checkbox"]:checked::before {
    border-radius: clamp(0.3px, 0.3dvmin, 3px);
    transform: scale(1) translateY(5%);
}

input[name="redCheckbox"] {
    border-color: rgba(255, 0, 0, 0.35);
}

input[name="blueCheckbox"] {
    border-color: rgba(0, 0, 255, 0.35);
}

input[name="redCheckbox"]::before {
    border-color: rgba(255, 0, 0, 0.35);
    box-shadow: inset 1.5em 1.5em rgba(255, 0, 0, 0.60);
}

input[name="blueCheckbox"]::before {
    border-color: rgba(0, 0, 255, 0.35);
    box-shadow: inset 1.5em 1.5em rgba(0, 0, 255, 0.60);
}

.numberButton {
    border-radius: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0 0 0 0;
    text-align: center;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border: 1px outset gray;
    user-select: none;
}

.number {
    margin-left: 0.24em;
    margin-right: 0.24em;
}

.heroSelect {
    user-select: none;
}

.functionButton {
    width: 48%;
    border-radius: 8px;
    padding: 4px 4px 4px 4px;
    font-size: clamp(16px, 1.5dvw, 30px);
    text-align: center;
    align-content: center;
    background-color: white;
    border: 1px outset gray;
}

@media screen and (orientation:landscape) {
    .menuList {
        width: clamp(160px, (100dvw - 93dvmin) / 2, 35dvmin);
        height: 100svh;
    }

    #redMenuList {
        right: calc(50dvw + 46.5dvmin);
    }

    #blueMenuList {
        left: calc(50dvw + 46.5dvmin);
    }

    .menu {
        width: 80%;
        height: 26%;
    }

    .menu>div {
        font-size: clamp(0.8em, 2.5dvh, 1.6em);
    }

    .heroSelect {
        width: 65%;
        font-size: clamp(0.8em, 2.5dvh, 1.6em);
    }

    .heroSelect>option {
        font-size: clamp(0.8em, 2.5dvh, 1.6em);
    }

    .numberButton {
        width: clamp(12px, 3dvh, 24px);
        height: clamp(12px, 3dvh, 24px);
        line-height: clamp(12px, 3dvh, 24px);
        font-size: clamp(12px, 4dvh, 30px);
        transform: translateY(16%)
    }

}

@media screen and (orientation:portrait) {
    #chessboard {
        top: 1dvmin;
    }

    #background {
        top: 1dvmin;
    }

    #canvas {
        top: 1dvmin;
    }

    .menuList {
        width: 45dvmin;
        height: 60svh;
        top: 95dvmin;
    }

    #redMenuList {
        left: 0;
    }

    #blueMenuList {
        right: 0;
    }

    .menu {
        width: 65%;
        height: 25%;
    }

    .menu>div {
        font-size: clamp(12px, 3.0dvw, 20px);
    }

    .heroSelect {
        width: 65%;
        font-size: clamp(12px, 3.0dvw, 20px);
    }

    .heroSelect > option {
        font-size: clamp(12px, 3.0dvw, 20px);
    }

    .numberButton {
        width: clamp(12px, 3.0dvw, 20px);
        height: clamp(12px, 3.0dvw, 20px);
        line-height: clamp(12px, 3.0dvw, 20px);
        font-size: clamp(12px, 3.0dvh, 20px);
        /* transform: translate(0, 16%); */
    }

}

.grave {
    width: 13dvmin;
    height: 65%;
    /* border: .1dvmin solid purple; */
    border: 0;
    display: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-sizing: border-box;
    position: relative;
}

.cell {
    width: 13dvmin;
    height: 13dvmin;
    border: .1dvmin solid gray;
    box-sizing: border-box;
    position: relative;
}

/* .plain {
            background-color: rgb(255, 255, 255);
        } */

.ridge {
    border: .3dvmin outset rgba(255, 255, 255, 0.8);
}

.piece {
    border-radius: 50%;
    position: absolute;
    cursor: grab;
    border-style: outset;
    z-index: 98;
    transition: width 100ms ease-out;
    transition: height 100ms ease-out;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}

body > .piece {
    width: 10dvmin;
    height: 10dvmin;
    transform: translate(-50%, -50%);
    border-width: .8dvmin;
}

.cell > .piece:only-of-type {
    width: 10dvmin;
    height: 10dvmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: .8dvmin;
}

.grave > .piece {
    width: 10dvmin;
    height: 10dvmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: .8dvmin;
}

.cell > .piece:nth-of-type(2):nth-last-of-type(1) {
    width: 7.5dvmin;
    height: 7.5dvmin;
    top: 0%;
    left: 0%;
    border-width: .60dvmin;
}

.cell > .piece:nth-of-type(1):nth-last-of-type(2) {
    width: 5.6dvmin;
    height: 5.6dvmin;
    bottom: 0%;
    right: 0%;
    border-width: .448dvmin;
}

.cell > .piece:nth-of-type(n+3):nth-last-of-type(1) {
    width: 66%;
    height: 66%;
    top: 0%;
    left: 0%;
    border-width: 5.28%;
}

.cell > .piece:nth-of-type(n+2):nth-last-of-type(2) {
    width: 30%;
    height: 30%;
    bottom: 0%;
    right: 0%;
    border-width: 2.40%;
}

.cell > .piece:nth-of-type(n+1):nth-last-of-type(3) {
    width: 30%;
    height: 30%;
    bottom: 33.333%;
    right: 0%;
    border-width: 2.40%;
}

.cell > .piece:nth-of-type(n):nth-last-of-type(4) {
    width: 30%;
    height: 30%;
    top: 0%;
    right: 0%;
    border-width: 2.40%;
}

.cell > .piece:nth-of-type(n-1):nth-last-of-type(5) {
    width: 30%;
    height: 30%;
    bottom: 0%;
    right: 33.333%;
    border-width: 2.40%;
}

.cell > .piece:nth-of-type(n-2):nth-last-of-type(6) {
    width: 30%;
    height: 30%;
    bottom: 0%;
    left: 0%;
    border-width: 2.40%;
}

.red-piece {
    border-color: rgba(255, 0, 0, 0.4);
}

.red-piece:hover {
    border-color: rgba(255, 0, 0, 1);
}

.red-piece.selected {
    border-color: rgba(255, 0, 0, 1);
}

.blue-piece {
    border-color: rgba(0, 0, 255, 0.4);
}

.blue-piece:hover {
    border-color: rgba(0, 0, 255, 1);
}

.blue-piece.selected {
    border-color: rgba(0, 0, 255, 1);
}

.reachable {
    background-color: rgba(255, 255, 0, 0.2);
}

.reachable:hover {
    background-color: rgba(255, 255, 0, 0.4);
}

.landable {
    background-color: rgba(0, 255, 0, 0.1);
}

.landable:hover {
    background-color: rgba(0, 255, 0, 0.2);
}

.targetable {
    background-color: rgba(0, 0, 255, 0.15);
}

.targetable:hover {
    background-color: rgba(0, 0, 255, 0.3);
}

.attackable {
    background-color: rgba(255, 36, 0, 0.1);
}

.attackable:hover {
    background-color: rgba(255, 36, 0, 0.2);
}

.flag {
    position: absolute;
    cursor: pointer;
    z-index: 99;
    border: none;
}

.piece>.flag {
    width: 65%;
    height: 65%;
    left: -15%;
    top: -8%;
    opacity: 0.75;
}

.cell>.flag {
    opacity: 1;
}

.cell>.flag:first-of-type:last-of-type {
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell>.flag:nth-of-type(1):nth-last-of-type(2) {
    width: 60%;
    height: 60%;
    left: -5%;
    top: 35%;
}

.cell>.flag:nth-of-type(2):nth-last-of-type(1) {
    width: 60%;
    height: 60%;
    left: 45%;
    top: 5%;
}